---
layout: default
---

<body>
  <div id="fullpage">
    <!--BEGIN INTRO SECTION-->
    <div class="section" id="landing-section">
      <div class="shell">
        <div class="shell-header">
          <span class="shell-header-actions shell-header-close"></span>
          <span class="shell-header-actions shell-header-minimize"></span>
          <span class="shell-header-actions shell-header-maximize"></span>
        </div>
        <div class="shell-body">
          <div class="shell-tab-content active">
            <p>
              <span style="color: #90ee90">kane@server:~$ </span>
              <span id="typed-message"></span>
              <span class="shell-cursor"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="social-icons">
        <a
          data-tooltip="linkedin"
          data-placement="bottom"
          href="https://www.linkedin.com/in/kanenorman/"
          ><i class="cib-linkedin-in"></i
        ></a>
        <a
          data-tooltip="github"
          data-placement="bottom"
          href="https://github.com/kanenorman"
          ><i class="cib-github"></i
        ></a>
        <a
          data-tooltip="leetcode"
          data-placement="bottom"
          href="https://leetcode.com/kane_norman/"
          ><i class="cib-leetcode"></i
        ></a>
      </div>
    </div>
    <!--END INTRO SECTION-->
    <!--BEGIN ABOUT SECTION-->
    <div class="section">
      <h2 class="section-header">About Me</h2>
      <div class="grid">
        <div>
          <div id="biography">
            <p>
              Hi, I'm Kane Norman, a dedicated full-stack engineer with a strong
              focus on data and machine learning. I'm deeply passionate about
              crafting innovative solutions that harness the power of data to
              drive real-world impact.
            </p>
            <p>
              My expertise in the Python programming language, extensive
              database experience, and profound familiarity with Linux
              environments enable me to seamlessly integrate robust software
              engineering into data science and machine learning projects.
            </p>
            <p>
              Whether I'm crafting elegant algorithms, building resilient
              software systems, or extracting valuable insights from complex
              datasets, I'm constantly striving to expand my knowledge and make
              an impact in the machine learning community.
            </p>
          </div>
        </div>
        <div class="centered">
          <img
            class="circular-image"
            src="{{ '/assets/images/portrait.png' | relative_url }}"
            alt="Kane Headshot"
          />
        </div>
      </div>
    </div>
    <!--END ABOUT SECTION-->
    <!--BEGIN PROJECTS SECTION-->
    <div class="section">
      <hgroup>
        <h2 class="section-header">Projects</h2>
        <h3 class="section-subheader">Personal and Open Source</h3>
      </hgroup>
      <div class="container">
        <div class="grid">
          {% for project in site.data.projects %} {% include project.html
          url=project.url image=project.image title=project.title
          description=project.description tools=project.tools %} {% endfor %}
        </div>
      </div>
    </div>

    <!--END PROJECTS SECTION-->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/shell-typing.js' | relative_url }}"></script>
</body>
