<head>
  <title>Kane Norman</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/pico.min.css" />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
  />

  <!-- Code Syntax Highlighting -->
  <link
    rel="stylesheet"
    href="{{ '/assets/css/syntax.css' | relative_path }}"
  />

  <!--Icons-->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@coreui/icons/css/all.min.css"
  />
  <script
    type="text/javascript"
    async=""
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"
  ></script>

  <!--Full Page JS-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.css"
  />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_path }}" />
</head>
