<div class="dropdown show">
  <a
    class="button primary small"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Menu
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/">Home</a> <br>
    <a class="dropdown-item" href={{"/pages/about"| relative_path}}>About Me</a><br>
    <a class="dropdown-item" href={{"/pages/resume" | relative_path}}>Resume</a><br>
    <a class="dropdown-item" href={{"/pages/programming"| relative_path}}>Discussion</a><br>
    <a class="dropdown-item" href={{"/pages/contact" | relative_path}}>Contact Me</a>
  </div>
</div>
