<div class="dropdown show">
  <a
    class="button primary small"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Menu
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/">Home</a> <br>
    <a class="dropdown-item" href="../pages/about.html">About Me</a><br>
    <a class="dropdown-item" href="../pages/resume.html">Resume</a><br>
    <a class="dropdown-item" href="../pages/discussion.html">Discussion</a><br>
    <a class="dropdown-item" href="../pages/contact.html">Contact Me</a>
  </div>
</div>
