<div class="dropdown show">
  <a
    class="button primary small"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Menu
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/">Home</a> <br>
    <a class="dropdown-item" href="{{ '/pages/about' | relative_url }}">About Me</a><br>
    <a class="dropdown-item" href="{{ '/pages/resume' | relative_path}}">Resume</a><br>
    <a class="dropdown-item disabled " href="#">Blog - Coming Soon</a><br>
    <a class="dropdown-item" href= "{{'/pages/contact' | relative_path}}">Contact Me</a>
  </div>
</div>
