body {
  font-family: monospace, sans-serif;
}

[data-tooltip]:not(a, button, input) {
  border-bottom: none;
  position: relative;
  cursor: auto;
}

/* ==========================================================================
   Fullpage JS
   ========================================================================== */
.animated {
  position: absolute;
  left: 0;
  transform: translate3d(0, -100vh, 0);
  transition: transform 600ms ease;
  right: 0;
}
.fp-section.active .animated {
  transform: translate3d(0, 0, 0);
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #000000;
  font-size: 14px;
  font-family: monospace, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

/* ==========================================================================
   IDS
   ========================================================================== */

#landing-section {
  /* animation: fadeIn 3s ease-in-out; */
  text-align: center;
}

#biography p {
  font-size: smaller;
  padding-left: 3em;
}

/* ==========================================================================
   CLASSES
   ========================================================================== */

.circular-image {
  border-radius: 50%;
  border: 10px solid #000000;
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-color: #ffffff;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  text-align: center;
}

.section-subheader {
  text-align: center;
}

/* ==========================================================================
   TERMINAL SHELL
   ========================================================================== */
.shell {
  width: calc(40% - 54px);
  max-width: 500px;
  display: inline-block;
  background-color: #353839;
  border-radius: 5px 5px 5px 5px;
  text-align: left;
  margin-right: 54px;
}
.shell-header {
  background: #414a4c;
  padding: 0 7px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shell-header-actions {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  box-shadow: 0 0 10px 1px;
  display: inline-block;
}
.shell-demo {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #0e1111;
}
.shell-demo:hover {
  text-decoration: underline;
  float: right;
}
.shell-header-close {
  background: #fe5e56;
}
.shell-header-minimize {
  background: #fdbe38;
}
.shell-header-maximize {
  background: #02cb49;
}
.shell-tab {
  padding: 5px 10px;
  display: inline-block;
  padding: 14px 10px;
}
.shell-tab {
  color: #173549;
}
.shell-tab.active {
  background: #fff;
  margin: 0;
}
.shell-tab:hover {
  color: #000;
}
.shell-tab-content {
  display: none;
}
.shell-tab-content.active {
  display: block;
}
figure {
  margin: 0;
}
.shell-body {
  margin: 0.5em;
  font-size: 1.4em;
  color: #ffffff;
  overflow-x: scroll;
  min-height: 160px;
  height: 160px;
}

.shell-cursor {
  display: inline-block;
  width: 6px; /* Adjust the width as needed */
  height: 18px; /* Adjust the height as needed */
  background-color: white;
  animation: blinkCursor 1s infinite; /* Define the animation */
  vertical-align: middle; /* Align the cursor with the bottom of text */
}

#typed-message {
  font-family: monospace;
  color: #ffffff;
  overflow-x: scroll;
  min-height: 200px;
}
@keyframes blinkCursor {
  0%,
  100% {
    opacity: 1; /* Cursor visible at the start and end */
  }
  50% {
    opacity: 0; /* Cursor invisible in the middle */
  }
}

/* ==========================================================================
   KEYFRAMES 
   ========================================================================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==========================================================================
   SOCIAL ICONS
   ========================================================================== */

.social-icons {
  text-align: center;
  padding: 2em;
  font-size: xx-large;
}
.social-icons a {
  margin-right: 15px;
  color: #353839;
  text-decoration: none;
}

.social-icons a:hover {
  color: #5d7e89;
}

.social-icons a:last-child {
  margin-right: 0;
}

/* ==========================================================================
   PROJECTS
   ========================================================================== */

.project-tool {
  height: auto;
  width: 35px;
}

.project-title {
  text-align: center;
}

.project-description {
  font-size: 14px;
}

.project-thumbnail-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.project-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.project-thumbnail,
.project-title,
.project-description {
  flex-shrink: 0;
}

.project-card-footer {
  margin-top: auto;
  text-align: center;
}
