---
layout: default
---

<div class="post_details">
  <h2>{{ page.title }}</h2>
  <p>
    <i> {{page.excerpt}} </i>
  </p>

  <p style="font-size: smaller">
    <b>Author</b>: {{ page.author }}<br />
    <b>Date</b>: {{ page.date | date: "%B %d, %Y" }} <br />
    <b>Tags</b>: {% if post %} {% assign categories = post.categories %} {% else
    %} {% assign categories = page.categories %} {% endif %} {% for category in
    categories %} {{category}} {% unless forloop.last %}&nbsp;{% endunless %} {%
    endfor %}
  </p>
  <hr />
</div>

<div>{{ content }}</div>
